h1 {
    color: #31CD32;
    font-family: 'Muli', sans-serif;
    text-align: center
}

h2 {
    background-color: rgb(50, 200, 70); 
}

p {
    color: grey;
}

p {
    font-family: 'Oswald', sans-serif;
}

p, li {
    font-size: 20px;
}

.special {
    color: orange;
}

a {
    text-decoration: none;
}

a:link {
    color: greenyellow;
}

a:visited {
    color: blueviolet;
}

a:hover {
    color: pink;
}
